In [1]:
import pandas as pd
from sqlalchemy import create_engine,  MetaData, Table

In [2]:
# Encodage des caractères spéciaux
username = 'postgres'
password = 'admin'
host = 'localhost'
port = '5432'
dbname = 'preventive_maintenance'

# Configuration de la connexion à la base de données PostgreSQL
connection_str = f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{dbname}'
engine = create_engine(connection_str)

In [3]:
engine

Engine(postgresql+psycopg2://postgres:***@localhost:5432/preventive_maintenance)

In [4]:
# Connexion à la base de données
connection = engine.connect()

In [5]:
# Chargement de la métadonnée de la base de données
metadata = MetaData()

# Définition de la table
my_table = Table('aeronefs', metadata, autoload_with=engine)

In [6]:
# ouvrir csv pour mettre en data frame
df = pd.read_csv(r'dataset\aeronefs_2024-06-02.csv')

df

,ref_aero,type_model,debut_service,last_maint,en_maintenance,end_maint
0,E170_6356,E170,2000-03-17,2024-03-27 00:00:00,False,NaN
1,B767_2803,B767,2020-12-03,2024-06-01 00:00:00,False,NaN
2,CRJ700_6943,CRJ700,2015-01-29,2024-06-02,True,2024-06-03 14:13:00
3,A350_1177,A350,2005-08-07,2024-01-04 00:00:00,False,NaN
4,B777_4029,B777,2009-01-01,2024-06-01 00:00:00,False,NaN
...,...,...,...,...,...,...
227,B737_4369,B737,2010-01-05,2024-06-01 00:00:00,False,NaN
228,A340_4021,A340,2004-12-13,2024-05-31 00:00:00,False,NaN
229,CRJ900_1740,CRJ900,2003-07-20,2024-06-01 00:00:00,False,NaN
230,E170_5551,E170,2021-04-10,2024-06-01 00:00:00,False,NaN
231,CRJ700_2988,CRJ700,2000-10-25,2024-02-01 00:00:00,False,NaN

In [7]:
# Insertion du DataFrame dans la table "my_table"
# df.to_sql('aeronefs', engine, if_exists='replace', index=False)

232

In [8]:
df2 = pd.read_sql('aeronefs', engine)

df2

,ref_aero,type_model,debut_service,last_maint,en_maintenance,end_maint
0,E170_6356,E170,2000-03-17,2024-03-27 00:00:00,False,None
1,B767_2803,B767,2020-12-03,2024-06-01 00:00:00,False,None
2,CRJ700_6943,CRJ700,2015-01-29,2024-06-02,True,2024-06-03 14:13:00
3,A350_1177,A350,2005-08-07,2024-01-04 00:00:00,False,None
4,B777_4029,B777,2009-01-01,2024-06-01 00:00:00,False,None
...,...,...,...,...,...,...
227,B737_4369,B737,2010-01-05,2024-06-01 00:00:00,False,None
228,A340_4021,A340,2004-12-13,2024-05-31 00:00:00,False,None
229,CRJ900_1740,CRJ900,2003-07-20,2024-06-01 00:00:00,False,None
230,E170_5551,E170,2021-04-10,2024-06-01 00:00:00,False,None
231,CRJ700_2988,CRJ700,2000-10-25,2024-02-01 00:00:00,False,None

In [9]:
# Fermeture de la connexion
connection.close()